<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}System zarządzania przepływem prac{% endblock %}- Photopublish</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    </head>
    <body>
    <div class="container-fluid">
        <div class="row">
            <header class="col-lg-2 no-padding">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu">
                    <button class="navbar-toggler" id="bars" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Nawigacja strony">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <div class="d-flex flex-column">
                            <ul class="navbar-nav nav__main d-flex flex-column">
                                <li class="navbar-brand"><a href="{{ path('_dashboard') }}"><img src="{{ asset('assets/img/logo.svg') }}" alt="Logo Photopublish" class="logo"><h1>Photopublish</h1></a></li>
                                <li class="nav-item"><a href="{{ path('_dashboard') }}" class="nav-link nav-link__padding--right {% if app.request.get('_route') == '_dashboard' %}active{% endif %}">Dashboard<i class="fas {% if app.request.get('_route') == '_dashboard' %}fa-chevron-left{% else %}fa-chevron-right{% endif %} fa__absolute--right"></i></a></li>
                                <li class="nav-item"><a href="" class="nav-link nav-link__padding--right">Produkty<i class="fas fa-chevron-right fa__absolute--right"></i></a></li>
                                <li class="nav-item"><a href="{{ path('_photoSession') }}" class="nav-link nav-link__padding--right {% if app.request.get('_route') == '_photoSession' %}active{% endif %}">Sesje zdjęciowe<i class="fas {% if app.request.get('_route') == '_photoSession' %}fa-chevron-left{% else %}fa-chevron-right{% endif %} fa__absolute--right"></i></a></li>
                                <li class="nav-item"><a href="{{ path('_search') }}" class="nav-link nav-link__padding--right {% if app.request.get('_route') == '_search' %}active{% endif %}">Szukaj<i class="fas {% if app.request.get('_route') == '_search' %}fa-chevron-left{% else %}fa-chevron-right{% endif %} fa__absolute--right"></i></a></li>
                                <li></li>
                            </ul>
                            <ul class="navbar-nav nav__profile d-flex flex-column">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li class="text-center"><img src="{{ asset('assets/img/user.svg') }}" alt="Ikona użytkownika" class="img-user"></li>
                                    <li class="text-center mb-2">
                                        {% if app.user.firstname|length > 0 or app.user.lastname|length > 0%}
                                            {{ app.user.firstname }} {{ app.user.lastname }}
                                        {% else %}
                                            {{ app.user.username }}
                                        {% endif %}
                                    </li>
                                    <li class="small text-center mb-2">
                                        {% set role =app.user.roles[0] %}
                                        {% if role == 'ROLE_PHOTOGRAPHER' %}
                                            FOTOGRAF
                                        {% elseif role == 'ROLE_RETOUCHER' %}
                                            RETUSZER
                                        {% elseif role == 'ROLE_WEBMASTER' %}
                                            WEBMASTER
                                        {% elseif role == 'ROLE_ADMIN' %}
                                            LIDER
                                        {% else %}
                                            Brak roli
                                        {% endif %}
                                    </li>

                                    <li class="text-center mb-2"><a href="{{ path('user_edit', { 'id': app.user.id }) }}" class="btn btn-primary">Ustawienia<i class="fas fa-user-cog fa-ml"></i></a></li>
                                    <li class="text-center mb-2"><a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger"><i class="fas fa-sign-out-alt fa-mr"></i>Wyloguj</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="col-lg-10">
                {% block h2 %}{% endblock %}
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/nav.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
