{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h2 class="title">Ustawienia użytkownika</h2>

        {{ form_start(edit_form) }}
        <div class="form-group">
            <label for="inputLogin">Login</label>
            <input type="text" id="inputLogin" value="{{ app.user.username }}" class="form-control" disabled>
        </div>
        <div class="row mb-3">
            <div class="col">
                {{ form_label(edit_form.firstName) }}
                {{ form_widget(edit_form.firstName) }}
            </div>
            <div class="col">
                {{ form_label(edit_form.lastName) }}
                {{ form_widget(edit_form.lastName) }}
            </div>
        </div>
        <input type="submit" value="Zapisz" class="btn btn-success mb-3">
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
        <input type="submit" value="Usuń konto" class="btn btn-danger mb-3">
        {{ form_end(delete_form) }}

        <a href="{{ path('_dashboard') }}" class="btn btn-danger"><i class="fas fa-chevron-left fa-mr"></i>Cofnij</a></li>
    </div>
</div>


{% endblock %}
