{% extends 'base.html.twig' %}

{% block h2 %}
    <h2 class="title">Edycja zdjęcia nr {{ photo.id }}</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(edit_form) }}
        {% if is_granted('ROLE_PHOTOGRAPHER') or is_granted('ROLE_RETOUCHER') %}
            <div class="custom-file mb-3">
                {{ form_row(edit_form) }}
            </div>
        {% endif %}
            <input type="submit" value="Zapisz" class="btn btn-success my-3">
            {{ form_end(edit_form) }}
            <div>
                <a href="{{ path('_dashboard') }}" class="btn btn-danger mb-3"><i class="fas fa-chevron-left fa-mr"></i>Cofnij</a>
            </div>
        </div>
    </div>

{% endblock %}
