{% extends 'base.html.twig' %}

{% block h2 %}
<h2 class="title">Dashboard</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 d-flex flex-column">
            <h3 class="mb-3"><i class="fas fa-tasks fa-mr"></i>Twoje zadania</h3>
        {% if is_granted('ROLE_PHOTOGRAPHER') %}
            <div class="btn__container mb-5">
                <a href="{{ path('photo_new') }}" class="btn btn__primary">Dodaj zdjęcie<i class="fas fa-upload fa-ml"></i></a>
            </div>
            {% if photosNotAcceptedForPhotographer|length > 0 %}
            <h4>Niezaakceptowane</h4>
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for photo in photosNotAcceptedForPhotographer %}
                <div class="task__element">
                    <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                    <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if photosForPhotographer|length > 0 %}
            <h4>Oczekujące na akceptację</h4>
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for photo in photosForPhotographer %}
                <div class="task__element">
                    <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                    <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if photosNotAcceptedForPhotographer|length == 0 and photosForPhotographer|length == 0 %}
            <p>Brak zadań do wykonania!</p>
            {% endif %}
        {% elseif is_granted('ROLE_RETOUCHER') %}
            {% if photosNotAcceptedForRetoucher|length > 0 %}
                <h4>Niezaakceptowany retusz</h4>
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    {% for photo in photosNotAcceptedForRetoucher %}
                        <div class="task__element">
                            <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                            <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if photosForRetoucher|length > 0 %}
                <h4>Zdjęcia do retuszu</h4>
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    {% for photo in photosForRetoucher %}
                        <div class="task__element">
                            <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                            <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if photosForRetoucher|length == 0 and photosNotAcceptedForRetoucher|length == 0 %}
                <p>Brak zadań do wykonania!</p>
            {% endif %}
        {% elseif is_granted('ROLE_LEADER') %}
            {% if photosForLeader|length > 0 %}
            <h4>Zdjęcia do akceptacji</h4>
            <div class="d-flex flex-row flex-wrap justify-content-center">
                {% for photo in photosForLeader %}
                <div class="task__element">
                    <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                    <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if retouchedPhotosForLeader|length > 0 %}
                <h4>Retusz do akceptacji</h4>
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    {% for photo in retouchedPhotosForLeader %}
                        <div class="task__element">
                            <img src="{{ photo.src }}" alt="Zdjęcie zadania" class="task__img">
                            <a href="{{ path('photo_show', { 'id': photo.id }) }}" class="btn btn-primary task__button">Kliknij</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if photosForLeader|length == 0 and retouchedPhotosForLeader == 0 %}
                <p>Brak zadań do wykonania!</p>
            {% endif %}
        {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="d-flex flex-column flex-column justify-content-center">
                <h3><i class="fas fa-history fa-mr"></i>Historia pracy</h3>
            </div>
        {% for element in statusHistory %}
            {% if element.status.id == 9 %}
            <div class="history__element">
                <img src="{{ element.photo.src }}" alt="" class="history__img">
                <p class="history__description"><strong>{{ element.user.lastname|upper }}</strong> {% if element.status.id == 9 %} zaktualizował zdjęcie{% endif %}</p>
                <div class="history__details">
                    <div><i class="far fa-calendar-alt fa-mr"></i>{{ element.date|date('d/m/Y') }}</div>
                    <div><i class="far fa-clock fa-mr"></i>{{ element.date|date('H:i:s') }}</div>
                </div>
            </div>
            {% else %}
            <div class="history__element">
                <img src="{{ element.photo.src }}" alt="" class="history__img">
                <p class="history__description"><strong>{{ element.user.lastname|upper }}</strong> zmienił status na <strong>{{ element.status.name }}</strong></p>
                <div class="history__details">
                    <div><i class="far fa-calendar-alt fa-mr"></i>{{ element.date|date('d/m/Y') }}</div>
                    <div><i class="far fa-clock fa-mr"></i>{{ element.date|date('H:i:s') }}</div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
            <div class="btn__container my-3">
                <a href="{{ path('_statusHistory') }}" class="btn btn__primary"><i class="fas fa-history fa-mr"></i>Zobacz całą historię</a>
            </div>
        </div>
    </div>
{% endblock %}
